{% extends 'main/layout.html' %}

{% block title %}
  {{ article.title }}
{% endblock %}

{% block body %}
<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <h3>{{ article.title }}</h3>
      <p><strong>Анонс:</strong> {{ article.intro }}</p>
      <p><strong>Текст:</strong> {{ article.full_text }}</p>
    </div>
    <div class="row">
      <a href="{% url 'news-delete' article.id %}" class="btn btn-danger mx-2">Видалити</a>
      <a href="{% url 'news-update' article.id %}" class="btn btn-warning mx-2">Редагувати</a>
    </div>
  </section>
</main>
{% endblock %}
